//gitlab.sportradar.ag/api/v4/projects/:_authToken=${GITLAB_NPM_TOKEN}
//gitlab.sportradar.ag/api/v4/packages/npm/:_authToken=${GITLAB_NPM_TOKEN}

@podium-design-system:registry=https://gitlab.sportradar.ag/api/v4/packages/npm/